<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">
        Login
      </ion-button>
      <ion-button routerLink="/register">
        Registrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Bem-vindo a página principal</h2>
        <p>Nosso aplicativo é perfeito para amantes de cinema! Avalie os filmes que já assistiu e receba recomendações personalizadas baseadas nos seus gostos. Descubra novos filmes, explore gêneros e crie sua lista de favoritos de forma simples e intuitiva.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
