

<ion-content>
  <div *ngIf="evaluations && evaluations.length > 0; else noEvaluations">
    <ion-list>
      <ion-item *ngFor="let evaluation of evaluations">
        <ion-label>
          <h2>{{ evaluation.title }}</h2> 
          <p>Nota: {{ evaluation.rating }}</p> 
          <p>Comentário: {{ evaluation.comment }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #noEvaluations>
    <p>Você ainda não avaliou nenhum filme.</p>
  </ng-template>
</ion-content>
