<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="loginData.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="loginData.password"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="login()">Login</ion-button>
        <ion-button expand="block" fill="clear" routerLink="/register">Ainda não tem uma conta? Registrar</ion-button>
        <ion-button expand="block" fill="clear" routerLink="/home">Voltar ao Início</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
