<ion-content>
  <div *ngIf="tv">
    <img [src]="tmdbService.getImageUrl(tv.poster_path)" />
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ tv.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Data de Lançamento:</strong> {{ tv.first_air_date | date }}</p>
        <p><strong>Sinopse:</strong> {{ tv.overview }}</p>
        <p><strong>Número de Temporadas:</strong> {{ tv.number_of_seasons }}</p>
        <p><strong>Número de Episódios:</strong> {{ tv.number_of_episodes }}</p>
      </ion-card-content>
    </ion-card>

    <ion-row class="ion-justify-content-between">
      <ion-col size="12" class="ion-text-end">
        <ion-row class="ion-justify-content-center">
          <ion-icon 
            *ngFor="let star of stars; let i = index" 
            [name]="i < rating ? 'star' : 'star-outline'" 
            (click)="rateTv(i + 1)" 
            class="star-icon">
          </ion-icon>
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <ion-textarea 
          [(ngModel)]="comment" 
          placeholder="Escreva seu comentário (opcional)" 
          rows="6">
        </ion-textarea>
      </ion-col>

      <ion-col size="12">
        <ion-button (click)="submitRating()">Postar Avaliação</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card *ngFor="let review of reviews">
          <ion-card-header>
            <ion-card-title>{{ review.username }}</ion-card-title>
            <ion-card-subtitle>{{ review.timestamp | date: 'short' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row class="ion-align-items-center">
              <ion-icon *ngFor="let star of stars; let i = index" 
                        [name]="i < review.rating ? 'star' : 'star-outline'" 
                        class="star-icon"></ion-icon>
            </ion-row>
            <p>{{ review.comment }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="!tv">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando detalhes da série...</p>
  </div>
</ion-content>
