.star-icon {
    font-size: 30px;
    color: #ffcc00; /* Cor das estrelas */
    cursor: pointer;
    margin-right: 5px;
  }
  
  .star-icon:hover {
    color: #ffcc00;
  }
  
  ion-textarea {
    width: 100%;
  }
  
  h3 {
    font-size: 14px; /* Tamanho menor para o título "Avaliação" */
  }
  
  ion-button {
    margin-top: 10px;
  }
  