<ion-header>
  <ion-toolbar>
    <ion-title>{{ movie?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="movie">
    <img [src]="tmdbService.getImageUrl(movie.poster_path)" />
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ movie.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Data de Lançamento:</strong> {{ movie.release_date | date }}</p>
        <p><strong>Sinopse:</strong> {{ movie.overview }}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!movie">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando detalhes do filme...</p>
  </div>
</ion-content>
