<ion-header>
  <ion-toolbar>
    <ion-title>CineMatch</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Login</ion-button>
      <ion-button routerLink="/register">Registrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment scrollable value="1">
    <ion-segment-button value="1">
      <ion-label>Filmes Recentes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Em Breve</ion-label>
    </ion-segment-button>
    <ion-segment-button value="3">
      <ion-label>Em Cartaz</ion-label>
    </ion-segment-button>
    <ion-segment-button value="4">
      <ion-label>Séries</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Verificação de loading -->
  <div *ngIf="recentMovies.length === 0">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Carregando filmes...</p>
  </div>

  <!-- Exibição dos filmes recentes -->
  <div *ngIf="recentMovies.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let movie of recentMovies" size="6">
          <ion-card>
            <img [src]="tmdbService.getImageUrl(movie.poster_path)" />
            <ion-card-content>
              <ion-card-title>{{ movie.title }}</ion-card-title>
              <p>{{ movie.release_date | date }}</p>
              <p>{{ movie.overview }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
