ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;  // Garante que o card ocupe 100% da altura disponível
  min-height: 300px;  // Define uma altura mínima para os cards, ajuste conforme necessário
}

ion-card-title {
  white-space: normal;  // Permite que o título ocupe múltiplas linhas, se necessário
  overflow: hidden;     // Garante que o texto não ultrapasse os limites do card
  text-overflow: ellipsis; // Exibe "..." quando o texto for muito longo
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 16px;  // Ajuste o tamanho da fonte conforme necessário
}


ion-card-content {
  flex-grow: 1;  // Garante que o conteúdo ocupe o restante do espaço disponível
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;  // Garante que o conteúdo não transborde
  overflow: hidden;
}
