<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Nome Completo -->
        <ion-item>
          <ion-label position="floating">Nome completo</ion-label>
          <ion-input type="text" [(ngModel)]="registerData.fullName"></ion-input>
        </ion-item>

        <!-- Email -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="registerData.email"></ion-input>
        </ion-item>

        <!-- Senha -->
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" [(ngModel)]="registerData.password"></ion-input>
        </ion-item>

        <!-- Confirmar Senha -->
        <ion-item>
          <ion-label position="floating">Confirme a senha</ion-label>
          <ion-input type="password" [(ngModel)]="registerData.confirmPassword"></ion-input>
        </ion-item>

        <!-- Botão de Cadastro -->
        <ion-button expand="block" (click)="validateAndRegister()">Registrar</ion-button>

        <!-- Botão de cadastro com Google -->
        <ion-button (click)="registerWithGoogle()" expand="full" color="dark">
          <i class="fa fa-google" style="margin-right: 10px;"></i>
          Cadastrar com o Google
        </ion-button>

        <!-- Link para Login -->
        <ion-button expand="block" fill="clear" routerLink="/login">Já tem uma conta? Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
